In [1]:
import pandas as pd
from plotly import express as px
from plotly.io import write_html

In [23]:
movies = pd.read_csv("movies_copy.csv")

In [24]:
movies

                 actor                   movie_or_TV_name
0               Amanda                         Not a Star
1               Amanda          Wes Schlagenhauf Is Dying
2               Amanda           Avatar: The Way of Water
3               Amanda  Everything Everywhere All at Once
4               Amanda                    She is the Best
...                ...                                ...
3372  Anthony Molinari                      The Last Deal
3373  Anthony Molinari                            Airship
3374  Anthony Molinari                       Black Gloves
3375  Anthony Molinari                        Tranquility
3376  Anthony Molinari                       Bank on us 2

[3377 rows x 2 columns]

In [30]:
grouped_movies = movies.groupby(["movie_or_TV_name"])["movie_or_TV_name"].count()

In [38]:
grouped_movies = grouped_movies.sort_values(ascending = False)

In [39]:
#grouped_movies.to_csv("grouped_movies.csv")

In [42]:
movies_gdata = grouped_movies[0:17]

In [54]:
movies_gdata = pd.DataFrame(movies_gdata)

In [58]:
movies_gdata.rename

Index(['movie_or_TV_name'], dtype='object')

In [50]:
px.histogram(movies_gdata, me)

NameError: name 'movie_or_TV_name' is not defined